.App {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem
}

.navbar {
  display: grid;
  grid-column: 1/ span 2;
  background-color: #eee;

}

.sidebar {
display: grid;
background-color: #eee;
grid-column: 1/span 1;
}
.content {
  display: grid;
  background-color: white;
  grid-column: 2/span 1;
  grid-row-gap: 2rem
}

.items {
  display: grid;
  grid-column: 1/ span 2;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem
}

.item {
  display: grid;
  place-items: auto;
  background-color: #eee;
  height: 250px
} 